@page
@using Microsoft.AspNetCore.SignalR.Protocol
@model project.Pages.AboutModel
@{
    ViewData["Title"] = "О нас";
}
<button id="myBtn">Открыть модальный</button>
<div id="myModal" class="modal">

    <!-- Модальное содержание -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Некоторый текст в модальном..</p>
    </div>

</div>
<style>
    .modal {
      display: none; /* Скрыто по умолчанию */
      position: fixed; /* Оставаться на месте */
      z-index: 1; /* Сидеть на вершине */
      left: 0;
      top: 0;
      width: 100%; /* Полная ширина */
      height: 100%; /* Полная высота */
      overflow: auto; /* Включите прокрутку, если это необходимо */
      background-color: rgb(0,0,0); /* Цвет запасной вариант */
      background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
    }
    
    /* Модальное содержание/коробка */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% сверху и по центру */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
    }
    
    /* Кнопка закрытия */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
</style>
@if (Program.ModalState != "0")
{
  <script>
var modal = document.getElementById("myModal");

// Получить кнопку, которая открывает модальный
var btn = document.getElementById("myBtn");

// Получить элемент <span>, который закрывает модальный
var span = document.getElementsByClassName("close")[0];

// Когда пользователь нажимает на кнопку, откройте модальный
function func() {
  modal.style.display = "block";
}

// Когда пользователь нажимает на <span> (x), закройте модальное окно
span.onclick = function() {
  modal.style.display = "none";
  @{
    Program.ModalState = "0";
  }
}

// Когда пользователь щелкает в любом месте за пределами модального, закройте его
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    @{
      Program.ModalState = "0";
    }
}
}
</script>
}
