@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}
<style>
    div.text-center h1{
        font-size: 2.5vw;
    }
</style>
<head>
    <img src="/css/kapi.png" style="margin-top:-23px; width:149%; margin-left: -320px;" />
</head>
<div class="text-center">
    @functions{
        DateTime localDate = DateTime.Now;
    }
    @if(localDate.Hour > 5 & localDate.Hour < 11)
    {
        <h1 class="display-4">Доброе утречко, @Program.SessionKeyName</h1>

    }
    else if (localDate.Hour > 11 & localDate.Hour < 20)
    {
        <h1 class="display-4">Добрый денечек, @Program.SessionKeyName</h1>
    }
    else
    {
        <h1 class="display-4">Добрый вечор, @Program.SessionKeyName</h1>
    }
 </div>

<p style="font-size: 2.8vw;">здесь типо чета написать на главной странице надо</p>