@page "{handler?}"
@using Microsoft.Data.Sqlite;
@model project.Pages.NavRouteModel
@{
    ViewData["Title"] = $"{Program.openedPage}";
}

<!DOCTYPE html>
<html>
<head>
    <title>@Program.openedPage</title>
    <style>
        .news-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 15px;
            box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        }

        .h1Square {
            margin: auto;
            position: center;
            height: 50%;
            width:70%;
            background-color: #212529;
            border-radius: 25px;
            box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        }

        h1 {
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 align="center" class="h1Square" style="color: #ffffff; padding: 5px; text-indent: 50px; margin-bottom: 20px;">@Program.Name</h1>

    <form asp-page-handler="Back" method="get">
        <button class="h1Square" style="color:#ffffff;background-color:#212529; border-color: #212529; border-radius: 50px; font-size: 1.3vw; position:center; margin-top: -78px; height: 58px; width:15%; float: left; margin-left:-20px;">Вернуться</button>
    </form>

    <div class="news-container">
        @for (int i = 0; i < 1; i++)
        {
            string sqlExpression = $"SELECT * FROM Posts WHERE _id = {@Program.tempPage}";
            using (var connection = new SqliteConnection("Data Source=project.db"))
            {
                connection.Open();

                SqliteCommand command = new SqliteCommand(sqlExpression, connection);
                using (SqliteDataReader reader = command.ExecuteReader())
                {
                    if (reader.HasRows) // если есть данные
                    {
                        int counter = -1;
                        while (reader.Read())   // построчно считываем данные
                        {
                            counter++;
                            var id = reader.GetValue(0);
                            var name = reader.GetValue(1);
                            var description = reader.GetValue(2);
                            var cshtml = reader.GetValue(3);
                            var title = reader.GetValue(4);

                            Program.openedPage = (string) title;
                            
                            <style>
                                h2{
                                    width: 100%;
                                    text-align: center;
                                }
                                h3{
                                    width: 100%;
                                    text-align: center;
                                }
                            </style>

                            <p>
                            <h3>@Html.Raw(description)</h3>
                            </p>
                            <hr style="width: 100%">
                            <p>
                            <h3>@Html.Raw(cshtml)</h3>
                            </p>
                        }
                    }
                    connection.Close();
                }
            }
        }
    </div>
</body>
</html>
